.env
.venv/
__pycache__/
*.pyc
temp_uploaded_pdfs/
session-manager-plugin.deb

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/terraform.tfvars
